body {
    background-color:rgb(24, 24, 42);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

img {
    border-radius: 4px;
    padding: 5px;
    border: 1px solid #ddd;
    width: 100px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(248, 244, 6, 0.973);
    transform: scale(1.5) translateY(-3px);
  }

#links {
    align-content: center;
    text-align: center;
    padding: 20px;
    font-size: 3rem;
}

#about {
    padding-left: 140px;
    padding-right: 140px;
}

ul {
    text-align: justify;
}

a {
    color: white;
}

a:hover {
    transform: scale(1.5) translateY(-3px);
}